body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/136/715/original/Gratitude-Butterflies.jpg?1722530879");
  background-size: cover;
  background-repeat: no-repeat;
  color: purple;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

.container {
  width: 800px;
  margin: auto;
  margin-top: 40px;
  padding: 40px;
  background-color: rgba(193, 203, 231, 0.8);
  border-radius: 10px;
}
