body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/136/715/original/Gratitude-Butterflies.jpg?1722530879");
  background-size: cover;
  background-repeat: no-repeat;
  color: #6f3381;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: #483381;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
}

.form-container {
  padding: 30px;
  background-color: rgb(228, 237, 245);
  box-shadow: 0px 4px 30px 0px rgba(33, 43, 66, 0.03);
  border-radius: 10px;
  margin-bottom: 15px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.instructions {
  padding: 12px;
  width: 80%;
  background-color: rgb(241, 246, 250);
  border-radius: 35px;
  border: 1px solid rgb(33, 43, 66);
  font-size: 16px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  width: 150px;
  border-radius: 35px;
  border: 1px solid rgb(33, 43, 66);
  background-color: #af97c9;
}

.gratitude {
  margin-top: 30px;
  font-size: 16px;
  background-color: rgb(228, 237, 245);
  box-shadow: 0px 4px 30px 0px rgba(33, 43, 66, 0.03);
  line-height: 2;
  padding: 20px;
  border-radius: 4px;
  border-left: 4px solid #af97c9;
}

.hidden {
  display: none;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  padding: 40px;
  background-color: rgba(193, 203, 231, 0.7);
  border-radius: 10px;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
